<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorkoutApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31DE5133011F2366A3342727</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>31DE52BC36A9BDC2B7557495</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>31DE58EAC6727553D45CE48D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
